* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 10px;
  border: 5px solid #415a77;
  border-radius: 15px;
  text-align: center;
  background-color: #e0e1dd;
  color: #0d1b2a;
}

header {
  padding: 10px;
  margin: 10px;
  border: 5px solid #415a77;
  border-radius: 15px;
  text-align: center;
  background-color: #0d1b2a;
  color: white;
  height: 100px;
}

section {
  padding: 10px;
  margin: 10px;
  border: 5px solid #415a77;
  border-radius: 15px;
  text-align: center;
  background-color: #e0e1dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

button {
  padding: 15px;
  background-color: #0d1b2a;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

button:hover {
  background-color: #415a77;
  color: white;
  border: 3px solid #0d1b2a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input {
  height: 25px;
  width: 200px;
  text-align: center;
  border: 3px solid #415a77;
  border-radius: 10px;
  background-color: white;
  color: #0d1b2a;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
